<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% include layout/head %>


    <title>Dashboard</title>
</head>

<body>
    <% include layout/nav %>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-12">
                <a href="/admin/post/new" class="btn btn-success pull-right">Add new Post</a>
        </div>
        
    </div>

    <div class="panel panel-default">
            <div class="panel-heading">
                Posts
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Content</th>
                                <th>Author</th>
                                <th>Created Time</th>
                                <th>Updated Time</th>    
                                <th>Action</th>  
                            </tr>
                        </thead>
                        <tbody>
                           <% if (getAllPosts) {%>
                                <% for(let i= 0; i < getAllPosts.length; i++) {%>
                                    <tr>
                                        <td> <%= getAllPosts[i].id %> </td>
                                        <td> <%= getAllPosts[i].title %> </td>
                                        <td> <%= getAllPosts[i].content %> </td>
                                        <td> <%= getAllPosts[i].author %> </td>
                                        <td> <%= getAllPosts[i].createdAt %> </td>
                                        <td> <%= getAllPosts[i].updatedAt %> </td>
                                        <td>
                                            <a href="/admin/post/edit/<%= getAllPosts[i].id %>" class="btn btn-primary">Edit</a>
                                            <button postId='<%= getAllPosts[i].id %>' class="btn btn-danger postDelete">Delete</button>   
                                        </td>

                                    </tr>
                                <%}%>
                        
                            <%}%>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    <script type="text/javascript" src="/javascripts/post.js"></script>
</body>

</html>